*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2ff;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.container{
    width: 100%;
    /* background-color: rgb(153, 214, 250); */
}
.header{
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    margin: 3rem 0;
}
.title{
    font-size: 3.8rem;
    font-weight: bold;
    margin: 2rem 0;
    color: rgb(4, 64, 79);
}
.subtitle{
    font-size: 1.1rem;
    color: rgb(50, 78, 78);
}


















