*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 243, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.header{
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    width: 80%;
    min-height: 80px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 37px;
    color: rgb(6, 69, 206);

}

.add-card-btn{
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;

    background-color: rgb(37, 99, 234);
    color: white;
    transition: .3s ease;
}
.add-card-btn:hover{
    background-color: rgb(29, 78, 216);
    transform: scale(1.05);
}
.add-card-btn i{
    font-weight: 100;
    font-size: 25px;
}


/* NEW VERSION */
.new-version-btn{
    background-color: rgb(8, 126, 20);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    width: 40px;
    overflow: hidden;
    transition: .3s ease;

    position: fixed;
    bottom: 50px;
    right: 0;
}
.new-version-btn:hover{
    width: 200px;
}

.new-version-btn div{
    /* background-color: rgb(135, 173, 253); */
    transition: .3s ease;
    font-size: 17px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.new-version-btn a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

/* SEARCH & FILTER SECTION */
/* SEARCH & FILTER SECTION */
/* SEARCH & FILTER SECTION */

.search-filter-cont{
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    margin-bottom: 50px;
    width: 80%;
    min-height: 80px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-cont, .filter-cont{
    /* background-color: lightblue; */
    height: 50px;
    width: 49%;
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;
}
.search-cont input, .filter-cont select{
    outline: none;
    border: 2px solid rgb(169, 169, 169);
    background: white;
    padding: 15px;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    appearance: none;
    font-size: 15px;
}
.search-cont input:focus, .filter-cont select:focus{
    border: 2px solid rgb(0, 72, 241);
}
.search-cont i{
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 17px;
    color: rgb(161, 161, 161);
}
.tag-icon{
    position: absolute;
    top: 18px;
    left: 12px;

    font-size: 17px;
    color: rgb(161, 161, 161);
}
.arrow-icon{
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 22px;
    color: rgb(161, 161, 161);
}


.no-cards-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
    color: rgb(161, 161, 161);
    /* background-color: lightblue; */
}






/* MODAL */
.modal-cont, .confirmation-modal{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.hidden{
    display: none;
}
.modal-content, .confirmation-modal-content{
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    min-width: 400px;
}
.modal-content h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
.modal-content {
    transform: translateY(-50px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.modal-active .modal-content {
    opacity: 1;
    transform: translateY(0);
}
.form-element{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    /* background-color: lightblue; */
}
.red-star{
    color: rgb(231, 73, 0);
}
.form-element input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(214, 214, 214);
    font-size: 16px;
}
.form-element textarea{
    height: 100px;
}
.category-chkbox-cont{
    /* background-color: rgb(29, 78, 216); */
    display: flex;
    gap: 15px;
    
}
.category-chkbox-cont label{
    display: flex;
    align-items: center;
    gap: 5px;
}
.category-chkbox-cont input[type="checkbox"]{
    accent-color: rgb(71, 125, 243);
}



.modal-btns-cont{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 25px;
}
.modal-btns-cont > button, .confirmation-modal-btns-cont > button{
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
}

.cancel-card-btn, .cancel-delete-btn{
    background-color: rgb(225, 225, 225);
    color: black;
}
.cancel-card-btn:hover, .cancel-delete-btn:hover{
    background-color: rgb(176, 174, 174);
}
.save-card-btn{
    color: white;
    background-color: rgb(34, 106, 250);
}
.save-card-btn:hover{
    background-color: rgb(11, 71, 190);
}
.confirm-delete-btn{
    color: white;
    background-color: rgb(249, 69, 63);
}
.confirm-delete-btn:hover{
    background-color: rgb(229, 5, 5);
}



/* CONFIRMATION MODAL */

.confirmation-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}







/* CARD ELEMENT */
.cards-main-cont{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0980a1; */
    border-radius: 12px;
    padding: 20px;
}
.card-cont{
    /* background-color: #63cfec; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card-element{
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    /* width: 23%; */
    /* min-height: 200px; */
    margin: 10px;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-element:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
}
.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}
@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-50px); }
}

.card-content p:not(.date){
    color: rgb(52, 52, 52);

}
.card-content > h2, p:not(.new-version-btn p){
    margin-bottom: 10px;
}



.category-badge{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}
.category-badge span{
    /* background-color: red; */
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;

}

.default-badge { background: #e5e7eb; color: #374151; padding: 4px 8px; border-radius: 9999px; font-size: 12px; font-weight: 600; }
.work-badge { background: #dbeafe; color: #1e40af; }
.personal-badge { background: #ede9fe; color: #5b21b6; }
.urgent-badge { background: #fee2e2; color: #991b1b; }
.ideas-badge { background: #dcfce7; color: #166534; }
.fun-badge { background: #e1f3ff; color: #0980a1; }




.date{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: rgb(107, 107, 107);
    margin-top: 20px;
}



.card-element-btns-cont{
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 0;
}

.card-element-btns-cont button{
    display: flex;
    gap: 5px;
    padding: 10px 15px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s ease;
}
.card-element-btns-cont .edit-btn{
    background-color: rgb(255, 255, 200);
    color: rgb(161, 105, 0);
}
.card-element-btns-cont .delete-btn{
    background-color: rgb(255, 180, 180);
    color: rgb(161, 0, 0);
}
.card-element-btns-cont .edit-btn:hover{
    background-color: rgb(252, 252, 136);
}
.card-element-btns-cont .delete-btn:hover{
    background-color: rgb(255, 149, 149);
}


